<div class="nav">
  <%= link_to 'Home', root_path, class: 'nav-item' %>
  <%= link_to 'Info', pages_info_path, class: 'nav-item' %>
  <%= link_to 'Vaccinations', vaccinations_path, class: 'nav-item' %>
  <%= link_to 'Vaccs', vaccs_path, class: 'nav-item' %>
</div>

