<h1>Vaccination Input Form</h1>

<% @vaccs.each do |vacc| %>
  <h2><%= vacc.title %></h2>
  <%= link_to 'Show', vacc, class: 'btn btn-primary' %>
<% end %>

<hr>
<%= link_to 'New', new_vacc_path, class: 'btn btn-primary' %>