<div class="container">
  <h1><%= @vacc.title %></h1>

  <hr>
  <%= link_to 'Edit', edit_vacc_path(@vacc), class: 'btn btn-primary' %>
  <%= link_to 'Index', vaccs_path, class: 'btn btn-primary' %>
</div>